Our suggestions to your request:

<% @candidates.each do |candidate| %>
   <table>
	   	<tr>
	   		<td>
				<%= candidate.first_name %>	
			</td>
			<td>	
				<%= candidate.last_name %>
			</td>
			<td>
				<%= url_for(:controller => "candidates", :action => "show",:only_path => false, :id => candidate.id, :host => "localhost:3000/")  %>
			</td>
			<td>
				Schedule Interview
				<%= url_for(:controller => "interviews", :action => "new", candidate: candidate.id,client_request: @client_request, :escape => false, :host => "localhost:3000/") %>
			</td>
		</tr>

	</table>		
<% end %>