=collection_check_boxes(:candidate, :category_question_ids, @category_questions,:id,:question)
//=input :category_question_candidates, :as => :check_boxes, collection: @category_questions, label: "Questions:",member_label: :question
