.active-admin{

	&__table{
		display: block;
	}

	&__title{
		font-weight: bold;
		font-size: 1.5em;
	}

	&__text{
		font-size: 1.3em;
	}
	
	&__field{
		padding: 10px;
		h3{
			font-size: 2em;
			margin-top: 0;
			margin-bottom: 20px;
		}
	}

	&__field-top{
		position: absolute;
		top:40%;
	}

	&__photo{
		img{
			width: 100%;
		}
	}

	&__col-4{
		display: inline-block;
		width: 20%;
	}

	&__col-6{
		width: 45%;
		display: inline-block;
	}

	&__col-8{
		display: inline-block;
		width: 78%;
	}

	&__col-12{
		width: 100%;
	}

	&__tag{
		display: inline-block;
	}
}