@font-face {
	font-family: 'Sofia';
	src: url('Sofia-Regular.otf') format('eot');
}

#owl-id .item img{
    display: block;
    width: 100%;
    height: auto;
}

.navbar-header{
	height: 65px;
}
.top-title{
	color:#6AC5F6;
	font-family: 'Sofia';
}

.navbar-nav{
	float:right;
}
.navbar-default{
	background-color: #04050D;
	opacity: 0.8;
}


.navbar-default .navbar-nav > li > a{
	color:#46E0F6;
	opacity: 1;
}

.nav > li > a{
	padding: 26px 40px;
}
.motto{
	font-size: 0.6em;
	text-align: center;
}

.carousel-container{
	position: absolute;
	top:0;
	z-index: -1;
	padding: 0;
}




.carousel-fade {
    .carousel-inner {
    	img{
    		width: 100%;

    	}
        .item {
            transition-property: opacity;
            img{
            	height: 580px;
            }
        }
        
        .item,
        .active.left,
        .active.right {
            opacity: 0;
        }

        .active,
        .next.left,
        .prev.right {
            opacity: 1;
        }

        .next,
        .prev,
        .active.left,
        .active.right {
            left: 0;
            transform: translate3d(0, 0, 0);
        }
    }

    .carousel-control {
        z-index: 2;
    }
}




.footer-container{
	position: absolute;
	bottom: 0;
	padding: 0;
}

.footer-table{
	
	background-color: #333333;
	padding-bottom: 15px;
	padding-top: 10px;
	table td a{
		color:white;
	}
	table td{
		padding: 15px 30px 15px 30px;
	}
	
	.header-title{
		td{
			font-size: 0.8em;
			padding-bottom: 0;
			font-weight: bold;
			text-transform: uppercase;
		}
	}

	.sub-text{
		td{
			padding-top: 2px;
			padding-bottom: 0px;
			font-size: 0.7em;
		}
	}

	.footer{
		margin: 0 auto;
		padding-bottom: 10px;
	}

	.sub{
		list-style-type: none;
		margin-top: 7px;
	}
}