$light-grey:#a8a094;
$black:#272727;
$blue:#3DA2AD;
$lightblue:#46BFF6;
$darkblue:#1c434c;

@media all and (max-width : 992px) { 
	.navbar.navbar-default{
		padding: 55px;
	}
	.top-title{
		font-size: 2em;
		text-align: center;
	}
	h1{
		font-size: 2.5em;
	}
	p{
		font-size: 1.8em;
	}
	h4{
		font-size: 2em;
	}

	.navbar-header {
        float: none;

    }

    .nav.navbar-nav{
    	width: 100%;
    }

    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
        width: 12%;
		height: 72%;
		font-size: 1.6em;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
    .navbar-collapse.collapse {
        display: none!important;
        margin-top: 7%;
    }
    .navbar-nav {
        float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav > li {
        float: none;
        margin: 0;
        
    }
    .navbar-default .navbar-nav > li > a{
    	font-size: 2em;
    	text-align: center;
    }
   
    
    .collapse.in{
  		display:block !important;
	}
	.dropdown-menu li:hover .sub-menu {
	   display: block !important;
	   visibility: visible !important;
	}

	.dropdown-menu > li > a{
		font-size: 2em;
	}

	
}


body{
	font-family: 'Fira Sans', sans-serif;
	background-image:url("fabric_of_squares_gray.png");
	background-repeat:yes;
}

a{
	background-color:transparent;
}

.blue{
	color:$blue;
}

.light-blue{
	color:$lightblue;
}

.border-right{
	border-right: 1px solid black;
}

.btt-big{
	width:90%;
	height:40px;
}

.btt-medium{
	width:50%;
	height:50px;
	font-size:1.3em;
}

.btt{
	width:25%;
	margin-top:5%;
	padding: 8px 10px;
    border: 2px solid white;
    border-radius: 5px;
    text-align: center;
    a{
    	text-align: center;
    	color:white;
    }
}

.btt:hover{
	border:none;
	background-color:white;
	a{
		color:#5cb8b5;
	}
}

.background-middle{
	float:left;
	width:100%;
	background-image:url("fabric_of_squares_gray.png");
	background-repeat:yes;
}

.hr-gray{
	border-top:1px solid #CAC7C7;
}

.hr-blue{
	border-top:3px solid #1c434c;
	margin-top:0;
}

.side-bar{
	background-color: rgba(247, 249, 254, 0.78);
	padding:2%;
	margin-top:3%;
	margin-bottom:1%;
	
	position: absolute;
	left:2%;
	ul{
		list-style: none;
		padding:0;
		li{
			margin-top: 10%;
			img{
				width: 17%;
			}
		}
		.list-title{
			margin-left:8%;
			display: inline;
			font-size: 1.2em;
			a{
				color:#5cb8b5;
			}
		}
	}
	.link-jobs{
		margin-top: 10%;
		text-align: center;
		font-size: 1.2em;
	}

}

.check-boxes-padding{
	label{
		margin-left: 5px;
		margin-right: 10px;
	}
}

.nodisplay{
	display: none;
}

.align-sign{
	margin-top: 3%;
}

.align-content{
	margin-top: 5%;
}
.field{
	float:left;
	width:100%;
	padding:10px;
}

.label-bold{
	font-weight:500;
	margin-right:5px;
}

.center{
	text-align:center;
}

.top-space{
	margin-top:3%;
}

.bottom-space{
	margin-bottom:5%;
}

.space{
	padding:10px;

}

.btt-big{
	width:30%;
	padding:10px;
}

.title{
	color:#46BFF6;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 400;
	font-size: 2em;
}

.no-padding{
	padding:0;
}

.padding{
	padding:18px;
}

.text-center{
	text-align:center;
}

.style-bold{
	font-weight:700;
}

.align-field{
	margin-bottom: 3%;
}

.login{
	float:right;
	width:5%;
}

.flags{
	
	position: relative;
	float:right;
	width:5%;
	img{
		width: 30%;
		margin-right: 20%;
	}
}

/*************************************/

#owl-id .item img{
    display: block;
    width: 100%;
    height: auto;
}
.container > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-header, .container-fluid > .navbar-collapse{
	margin-left: 3%;
}
.navbar-header{
	height: 65px;
	
}
.top-title a{
	color:#105264;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 2em;
	text-decoration: none;
}

.dropdown-menu > li > a{
	font-family: 'Fira Sans', sans-serif;
	font-weight: 300;
}

.navbar-nav{
	width: 65%;
	float: right;
	margin-top: 1%;
}
.navbar-default{
	background-color: #F9F9F9;
	padding: 10px;
	margin-bottom: 0;
	//border-bottom: 1px solid #133783;
    //box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .52);
	//margin-top:3%;
	//border-bottom-color: gray;
}


.navbar-default .navbar-nav > li > a{
	color:#105264;
	opacity: 1;
	text-decoration: none;
}

.navbar-nav > li:hover{
	background-color: #e7e7e7;
	color: #555;
}

.navbar-nav > li:hover ul{
	display: block;
}
.nav >li{
	margin-left: 2%;
	margin-right: 2%;
	margin-top: 2%;
	margin-bottom: 1%;
}

.nav > li > a{
	padding: 5px 5px;
	//font-family: 'Open Sans', sans-serif;
	//font-family: 'Raleway', sans-serif;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 300;
}

.navbar-default .navbar-nav > .active > a{
	background-color: transparent;
	color:black;

}

.navbar-default .navbar-nav > .style-bold > a{
	font-weight:bold;

}

.motto{
	border-top:1px solid #AAAAAA;
	text-align: center;
	margin-top: 2px;
	span{
		font-size: 1em;
		text-align: center;
		color:#828485;
		margin-left: 2px;
		font-family: 'Fira Sans', sans-serif;
		font-weight: 400;
		line-height:0;
   		padding:0.1em 1em;
   		position: relative; 
   		top: -0.5em;
		background-color: #F9F9F9; 
		margin: 0;
	}

}

.background-white{
	background-color:white;
	padding:2%;
	width:1078px;
	margin:0 auto;
}

.carousel-container{
	z-index:-1;
	padding: 0;
}
.indent-label{
	margin-right: 5px;
}
.indent-field{
	margin-bottom: 10px;
}
.indent-textbox{
	display: inline;
	margin-right: 5px;
}



.up-more{
	bottom: 40px;
}

.up{
	position: relative;
	bottom:20px;
}



.carousel-fade {
    .carousel-inner {
    	img{
    		width: 100%;
    	}
        .item {
            transition-property: opacity;
            img{
            	
            	width: 100%;
            }
        }
        
        .item,
        .active.left,
        .active.right {
            opacity: 0;
        }

        .active,
        .next.left,
        .prev.right {
            opacity: 1;
        }

        .next,
        .prev,
        .active.left,
        .active.right {
            left: 0;
            transform: translate3d(0, 0, 0);
        }
    }

    .carousel-control {
        z-index: 2;
    }
}


.footer-container{
	background-image:url('low_contrast_linen.png');
	background-repeat:repeat-x;
	background-color:#49717B;
	padding: 0;
	position: relative;
	bottom:0;
	
	width: 100%;
}
.start-container{
	background-color: rgba(247,249,254,0.7);
	position: relative;
    bottom: 23px;
    padding: 1%;
    padding-top: 2%;
}

.start-title{
	color:#379A97;
    //text-shadow: 1px 1px #131111;
    font-family: helvetica;
    font-weight: 800;
    position:relative;
    bottom:16px;

}
.flyers{
	position: relative;
    bottom: 106px;
	margin:0 auto;
	.flyer-links:after {
        display:block;
        clear:both;
        content:'';
    }
	ul.flyer-links{
		list-style: none;
		width: 82%;
    	margin: 0 auto;
		display: block; 
		text-align:center;
		padding-left:0;
		position: relative;
    	bottom: 37px;
		li{
			width: 30%;
			
			display: inline-block;
			font-size: 1.3em;
			
	
			
			text-align:center;
			position:relative;
			
			border:1px solid $darkblue;
			a{
				width: 100%;
				float: left;
				text-align: center;
				background-color:white;
				padding:10px;
				color:$darkblue;
			}
			a:hover{
				color:white;
				background-color:$darkblue;
			}
		}
		.active{
			display: inline-block;
		}
		li.active a, li.active a:hover {
	        color:white;
			background-color:$darkblue;
	    }
	}
	.flyer-content{
		padding:15px;
		margin-top: 5%;
		margin-bottom: 5%;
		.tab{
	        display:none;
	 	}
	 	.tab-img{
	 		float:left;
	 		img{
	 			width: 80%;
	 		}
	 	}
	 	.tab-title{
	 		display: block;
	 		margin-top: 0;
	 		font-family: 'Fira Sans', sans-serif;
	 		font-size: 1.5em;
	 		font-weight: 300;
	 		margin-bottom: 2%;
	 	}

	    .tab.active {
	        display:block;
	    }
	}
}




.btt-category{
	position: absolute;
	top:5%;
	width:18%;
	
	right:5%;
	margin:0 auto;
	text-align:center;
	padding:10px;
	
	background-color:rgba(255,255,255,0.4);
   	border:2px solid #105264;
	font-family:'Fira Sans', sans-serif;
	font-weight:400;
	font-size:1.5em;
	border-radius:5px;
	font-style:italic;
	a{
		color: #105264;

	}
}

.btt-category:hover{
	border:none;
	background-color:#105264;
	a{
		color:white;
		text-decoration: none;
	}
}

.footer-table{
	bottom:0;left:0;right:0;
	//background-color: #ecf1f2;
	padding-bottom: 3%;
	padding-top: 2%;
	//border-top:1px solid $black;
	table td{
		padding: 15px 30px 0px 30px;
	}
	
	.header-title{
		td a{
			font-size: 0.8em;
			padding-bottom: 0;
			font-family: 'Fira Sans', sans-serif;
			font-weight: 400;
			color:white;
			text-transform: uppercase;
		}
	}

	.sub-text{
		td {
			padding-top: 2px;
			padding-bottom: 0px;
			font-size: 0.7em;
			font-family: 'Fira Sans', sans-serif;
			font-weight: 300;
			a{
				color:white;
			}
		}
	}

	.footer{
		margin: 0 auto;
		padding-bottom: 10px;
	}

	.sub{
		list-style-type: none;
		margin-top: 7px;
	}
}


/***************MISSION***********************/

.mission-container{
	//background-color: #dddbdb;
	margin-top: 25px;
	.image{
		img{
			width: 100%;
		}
	}
	.content{
		z-index: -1;
	}
	h1{
		color:#46BFF6;
		font-family: 'Fira Sans', sans-serif;
		font-weight: 400;
	}
	hr{
		margin-top: 3px;
		margin-bottom: 10px;
		border-color: #BEC3C4;
	}
	p{
		text-align: justify;
		font-family: 'Fira Sans', sans-serif;
		font-weight: 300;
		color:#707273;
	}
}

/************* HISTORY ********************/

.history-content{
	z-index: -1;
	margin-top: 25px;
	h1{
		font-family: 'Noto Serif', serif;
		color:#46BFF6;
		font-family: 'Fira Sans', sans-serif;
		font-weight: 400;
	}
	hr{
		margin-top: 3px;
		margin-bottom: 10px;
		border-color: #BEC3C4;
	}
	p{
		text-align: justify;
		font-family: 'Fira Sans', sans-serif;
		font-weight: 300;
		color:#707273;
	}
}

/*************************** SERVICES ******************************/
.services-content{
	
	padding-bottom: 170px;
	margin-top: 25px;
	h1{
		font-family: 'Noto Serif', serif;
		color:#46BFF6;
		font-family: 'Fira Sans', sans-serif;
		font-weight: 400;
	}
	h4{
		font-family: 'Roboto', sans-serif;
		color:#3DA2AD;
		font-family: 'Fira Sans', sans-serif;
		font-weight: 400;
	}
	hr{
		margin-top: 0px;
		margin-bottom: 30px;
		border-color: #BEC3C4;
	}
	p{
		text-align: justify;
		font-family: 'Fira Sans', sans-serif;
		font-weight: 300;
		color:#707273;
	}
}
.image-align{
	margin-left: 28px;
	
}


.contacts-content{
	
	margin-bottom: 20px;
	h2{
		font-family: 'Fira Sans', sans-serif;
		font-weight: 400;
		color:#46BFF6;
	}

	p{
		text-align: justify;
		font-family: 'Fira Sans', sans-serif;
		font-weight: 300;
	}
}

.conditions-content{
	
	padding-bottom: 170px;
	margin-top: 25px;
	h1{
		font-family: 'Fira Sans', sans-serif;
		font-weight: 400;
		color:#46BFF6;
	}
	hr{
		margin-top: 3px;
		margin-bottom: 10px;
		border-color: #BEC3C4;
	}
	p{
		text-align: justify;
		font-family: 'Fira Sans', sans-serif;
		font-weight: 300;
		color:#707273;
	}
}

/********************* CLIENT *************************/
.client-content{
	h1{
		font-family: 'Noto Serif', serif;
		color:#46BFF6;
		font-family: 'Fira Sans', sans-serif;
		font-weight: 400;
	}
	p{
		text-align: justify;
		font-family: 'Fira Sans', sans-serif;
		font-weight: 300;
		color:#707273;
	}
	.align-content{
		margin-top: 3%;
		margin-bottom: 20%;
		border-right: 1px solid #EBEDED;
	}

	.form-content{
		margin-top: 5%;
		margin-bottom: 12%;
	}
	.input-align{
		margin:2%;
		display: block;
	}
	.label-align{
		margin: 8%;
		display: block;
	}
	.change-line{
		margin-top: 3%;
		margin-bottom: 2%;
	}
}



/*********************** CREATE CANDIDATE **************************/


.title-candidate{
	font-family: 'Fira sans',sans-serif;
	font-weight: 400;
	font-size: 1.8em;
	color:#46BFF6;
	margin-bottom: 2%;
	margin-top: 3%;
}

.new-candidate{
	margin-bottom: 180px;
	
	.personal-info{
		.width_select{
			width: 44%;
		}
		.birth_select{
			width:20%;
		}
	}
	.work-info{
		select{
			width: 54%;
		}
	}
	.align-label{
		margin-right: 10px;
		margin-bottom: 3px;
	}
	.align-field{
		margin-bottom: 15px;
		padding: 0;
	}
	.align-item{
		margin-top: 2%;
		margin-bottom: 2%;
	}
	.length-input{
		width: 100%;
	}
	.section-availability{
		input[type="checkbox"] {
    		margin: 4px 4px 0px;
    	}
    	input[type="radio"] {
    		margin: 4px 4px 0px;
    	}
	}
}


label{
	font-family: 'Fira sans', sans-serif;
	font-weight: 300;
}

.subtitle{
	font-family: 'Fira sans',sans-serif;
	font-weight: 400;
}

.margin-job{
	margin-bottom:6%;
}


/****************** SHOW CANDIDATE ******************/

.show-candidate{
	margin-bottom: 10%;
	.img-resize{
		img{
			width: 90%;
		}
	}
	.availability-description{
		margin-right: 2%;
	}
}


/***************VACANCIES***************/

.vacancies{
	margin-bottom: 10%;
}

.categories-list{
	margin-top: 3%;
	border-right: 1px solid #EBEDED;
	ul li{
		font-family: 'Fira sans',sans-serif;
		font-weight: 300;
	}
}

.vacancy-title{
	font-family: 'Fira Sans', sans-serif;
	font-weight: 400;
	color:#A5A7A8;
	font-size: 1.5em;
}

.vacancy-req{
	font-family: 'Fira Sans', sans-serif;
	font-weight: 400;
	
}

.req-content{
	font-weight: 300;
	font-family: 1em;
}

.vacancies-list{
	margin-top: 3%;
	margin-bottom: 10%;
}

/************SIGN-IN**********************/
.sign-in{
	margin-top: 5%;
	.column-right{
		border-left: 1px solid #C3C6C7;
		padding-left: 5%;
		.panel-heading{
			text-align: center;
			font-size: 1.5em;
		}
		.panel-body{
			margin: 0 auto;
			form{
				input{
					width: 90%;
					margin: 2%;
				}
				input[type="checkbox"]{
					width: 3%;
				}
			}
		}
	}
	.header-title{
		font-family: 'Fira Sans',sans-serif;
		font-weight: 700;
		color:#46BFF6;

	}
}

.table-interviews{
	margin-top: 5%;
}

.table-applications{
	margin-top: 5%;
}