h3 Do you have experience with:
=fields_for :category_questions, event.category_questions.build do |questions|
	=label_tag 'children from:'
	br
	
	=questions.check_box :birth_to_one, {}, true, false
	'&nbsp;
	=label_tag 'birth to one year'
	'&nbsp;
	=questions.check_box :one_to_three, {}, true, false
	'&nbsp;
	=label_tag '1 y.o. to 3  y.o.'
	'&nbsp;
	=questions.check_box :three_to_six, {}, true, false
	'&nbsp;
	=label_tag '3 y.o. to 6  y.o.'
	br
	=questions.check_box :cooking, {}, true, false
	'&nbsp;
	=label_tag 'Cooking for children'
	
	br
	=questions.check_box :regime, {}, true, false
	'&nbsp;
	=label_tag 'Regime, hygiene, walking with children'
	
	br
	=questions.check_box :cleaning, {}, true, false
	'&nbsp;
	=label_tag 'Cleaning children`s room, care for children wardrobe'
	
	br
	=questions.check_box :education, {}, true, false
	'&nbsp;
	=label_tag 'Educational classes for children'
	
	br
	=questions.check_box :trips, {}, true, false
	'&nbsp;
	=label_tag 'Support of children on trips abroad'
	
	br
	=questions.check_box :work_several, {}, true, false
	'&nbsp;
	=label_tag 'Work simultaneously with several children'
	
	br
	=questions.check_box :household_help, {}, true, false
	'&nbsp;
	=label_tag 'Household help'
	br
	=label_tag 'Educational Techniques:'
	br
	=questions.text_area :educational_techniques
	
	