h3 Do you have experience with:
=fields_for :nurse_question, event.nurse_question do |questions|
	=questions.check_box :older_people, {}, true, false
	'&nbsp;
	=label_tag 'working with older people'
	br
	=questions.check_box :ambulant_patients, {}, true, false
	'&nbsp;
	=label_tag 'ambulant patients'
	br
	=questions.check_box :immobile_patients, {}, true, false
	'&nbsp;
	=label_tag 'immobile patients'
	br
	=questions.check_box :measurements, {}, true, false
	'&nbsp;
	=label_tag 'drug delivery, blood pressure measurement, measurement of sugar'
	br
	=questions.check_box :intramuscular_injection, {}, true, false
	'&nbsp;
	=label_tag 'intramuscular injection'
	br
	=questions.check_box :intravenous_injection, {}, true, false
	'&nbsp;
	=label_tag 'intravenous injection'
	br
	=questions.check_box :procedures, {}, true, false
	'&nbsp;
	=label_tag 'massage, hygienic procedures'
	br
	=questions.check_box :cleaning_cooking, {}, true, false
	'&nbsp;
	=label_tag 'cleaning the room, cooking for the sick'

