	
	=f.check_box :dry_wet, {}, true, false
	'&nbsp;
	=label_tag 'daily dry and wet cleaning of all rooms, bathrooms, WC'
	br
	=f.check_box :washing_ironing, {}, true, false
	'&nbsp;
	=label_tag 'washing and ironing of bed linen, kitchen and bar accessories'
	br
	=f.check_box :vip, {}, true, false
	'&nbsp;
	=label_tag 'Care "VIP wardrobe'
	br
	=f.check_box :cooking, {}, true, false
	'&nbsp;
	=label_tag 'Cooking for family'
	br
	=f.check_box :systems, {}, true, false
	'&nbsp;
	=label_tag 'Care communication systems in the house: electrical systems, plumbing system etc'
	br
	=f.check_box :driving, {}, true, false
	'&nbsp;
	=label_tag 'Driving license, experience in driving'
	br
	=f.check_box :pool, {}, true, false
	'&nbsp;
	=label_tag 'Care pool, sauna complex'
	br
	=f.check_box :small_repairs, {}, true, false
	'&nbsp;
	=label_tag 'Small repairs in the house'
	br
	=f.check_box :cares, {}, true, false
	'&nbsp;
	=label_tag 'Care of the site, clearing it of snow, leaves, mowing the lawn'
	br
	=f.check_box :garden, {}, true, false
	'&nbsp;
	=label_tag 'Knowledge and ability to use the garden equipment and supplies'
	br
	=f.check_box :plants, {}, true, false
	'&nbsp;
	=label_tag 'Care of plants and flowers in the area'
	br
	=f.check_box :pet_grooming, {}, true, false
	'&nbsp;
	=label_tag ' Pet Grooming'