	
	=f.check_box :family, {}, true, false
	'&nbsp;
	=label_tag 'Work experience in the family'
	br
	=f.check_box :restaurants, {}, true, false
	'&nbsp;
	=label_tag 'Experience working in restaurants'
	br
	=f.check_box :purchase, {}, true, false
	'&nbsp;
	=label_tag ' Purchase of food products; quality control of products'
	br
	=f.check_box :menu, {}, true, false
	'&nbsp;
	=label_tag 'Drawing up the menu'
	br
	=f.check_box :banquets, {}, true, false
	'&nbsp;
	=label_tag 'Organization of banquets and receptions'
	br
	=f.check_box :during_banquet, {}, true, false
	'&nbsp;
	=label_tag 'Service during the banquet, workplace cleaning'
	br
	=f.check_box :kids, {}, true, false
	'&nbsp;
	=label_tag 'Cooking for kids'
	br
	=f.check_box :diets, {}, true, false
	'&nbsp;
	=label_tag 'Cooking for diets, calorie calculation'
	br
	
	=label_tag 'Knowledge of the kitchen (please specify: Russian, European, Mediterranean, Italian, French, Oriental etc)'
	br
	=f.text_area :knowledge_kitchen, cols:'60',rows:'5'

	