	
	=f.check_box :personal_driver, {}, true, false
	'&nbsp;
	=label_tag 'Experience personal driver'
	br
	=f.check_box :family_driver, {}, true, false
	'&nbsp;
	=label_tag 'Experience family driver; experience work with children'
	br
	=f.check_box :children, {}, true, false
	'&nbsp;
	=label_tag 'Good knowledge of the road, confident driving without accidents'
	br
	=f.check_box :washing, {}, true, false
	'&nbsp;
	=label_tag 'Washing the car, its content in good technical condition'
	br
	=f.check_box :luxury_car, {}, true, false
	'&nbsp;
	=label_tag 'Experience in the luxury car'
	br
	=f.check_box :weapons_bodyguard, {}, true, false

	=label_tag 'availability licenses for weapons, experience as a bodyguard and escort car'
	br
	=f.check_box :trips, {}, true, false
	'&nbsp;
	=label_tag 'household errands, trips at the request of the employer and his family'
	br
	=f.check_box :care_house, {}, true, false
	'&nbsp;
	=label_tag ' care of the house and the plot area (for domestic helpers)'