	
	=f.check_box :dry_wet, {}, true, false
	'&nbsp;
	=label_tag 'daily dry and wet cleaning of all rooms, bathrooms, WC'
	br
	=f.check_box :washing, {}, true, false
	'&nbsp;
	=label_tag 'washing and ironing of bed linen, kitchen and bar accessories'
	br
	=f.check_box :vip, {}, true, false
	'&nbsp;
	=label_tag 'Care "VIP wardrobe", expensive shoes'
	br
	=f.check_box :furniture, {}, true, false
	'&nbsp;
	=label_tag 'Carpet cleaning, care furniture'
	br
	=f.check_box :cooking, {}, true, false
	'&nbsp;
	=label_tag 'Cooking'
	br
	=f.check_box :plants_animals, {}, true, false
	'&nbsp;
	=label_tag 'Caring for plants and animals'
	br
	=f.check_box :appliances, {}, true, false
	'&nbsp;
	=label_tag 'Knowledge and ability to use modern appliances,washing, ironing, etc'
	br
	=f.check_box :large_areas, {}, true, false
	'&nbsp;
	=label_tag 'experience in country houses, large areas'